@keyframes round {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 透明出现动画 */
@keyframes opacity {
  0% {
    opacity: 1;
  }

  80% {
    opacity: .6;
  }

  100% {
    opacity: 0;

  }
}

/* 透明隐藏动画 */
@keyframes opacity_show {
  0% {
    opacity: 0;
  }

  20% {
    opacity: .6;
  }

  100% {
    opacity: 1;

  }
}

/* 尺寸放大出现 */
@keyframes size_show {
  0% {
    transform: scale(.2);
  }



  100% {
    transform: scale(1);


  }
}

@keyframes animate-top {
  0% {
    top: 80%;
    opacity: 0;
    transform: translateX(-50%) scale(.3);

  }

  70% {
    opacity: 1;
  }

  100% {
    top: 1%;
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}



.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

body {
  --t-color: rgba(0, 128, 0, .2);
  --t-bg: rgba(0, 128, 0, .2);
  /* 默认主题 */
  --t-theme-color: #18a058;
  --t-theme-bg: #fff;
  /* 默认z-index */
  --t-z-index: 1;
}