@keyframes round {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 透明出现动画 */
@keyframes opacity {
  0% {
    opacity: 1;
  }

  80% {
    opacity: .6;
  }

  100% {
    opacity: 0;

  }
}

/* 透明隐藏动画 */
@keyframes opacity_show {
  0% {
    opacity: 0;
  }

  20% {
    opacity: .6;
  }

  100% {
    opacity: 1;

  }
}

/* 尺寸放大出现 */
@keyframes size_show {
  0% {
    transform: scale(.2);
  }



  100% {
    transform: scale(1);


  }
}

@keyframes animate-top {
  0% {
    top: 80%;
    opacity: 0;
    transform: translateX(-50%) scale(.3);

  }

  70% {
    opacity: 1;
  }

  100% {
    top: 1%;
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}



.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

body {
  --t-color: rgba(0, 128, 0, .2);
  --t-bg: rgba(0, 128, 0, .2);
  /* 默认主题 */
  --t-theme-color: #18a058;
  --t-theme-bg: #fff;
  --t-theme-hover: rgba(0, 0, 0, .3);
  --t-theme-shadow: rgba(52, 213, 11, 0.1);
  --t-theme-text-color: #000;
  /* 空状态 */
  --t-theme-empty:#ddd;
  /* 默认z-index */
  --t-z-index: 1;
  /* 默认间距（左右） */
  --t-padding: 10px;
}

.custom-scroll {

  /* 自定义整个滚动条 */
  &::-webkit-scrollbar {
    width: 8px;
    /* 设置滚动条的宽度 */
    background-color: #f9f9f9;
    /* 滚动条的背景色 */
  }

  /* 自定义滚动条轨道 */
  &::-webkit-scrollbar-track {
    /* background: #e1e1e1; */
    /* 轨道的背景色 */
    /* border-radius: 10px; */
    /* 轨道的圆角 */
  }

  /* 自定义滚动条的滑块（thumb） */
  &::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    /* 滑块的背景色 */
    border-radius: 10px;
    /* 滑块的圆角 */
    border: 2px solid #ffffff;
    /* 滑块边框 */
  }

  /* 滑块hover效果 */
  &::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
    /* 滑块hover时的背景色 */
  }
}